*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: goldenrod;
    padding: 20px 30px;
    width: 100vw;
}
.navbar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;

}
.navbar ul li{
    padding: 0px 10px;
}
.navbar ul li a{
    text-decoration: none;
    color: #000;
}
.icon{
    display: none;
}
.sidebar li{
    list-style: none;
    padding-top: 20px;
    padding-bottom: 2opx;
}
.sidebar li a{
    text-decoration: none;
    color: #000;
}
.sidebar{
    display: none;
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    padding-top: 100px;
    z-index: 1;
    margin-top: 58px;
    padding: 40px 20px;
    text-align: center;
    background-color: white;
    border: 1px solid gainsboro;
    transform: translateX(-100vw);
    transition: 0.2s ease-in-out;

}
.show{
    transform: translateX(0);
}
.carousel{
    width: 100vw;
    height: 60vh;
}
.carouselImg{
    padding: 30px 30px;
    width: 100vw;
    height: 100vh;
}
.carousel .carouselImg img{
width: 100%;
height: 80vh;
object-fit: cover;
}
@media screen and (max-width:912px) {
    .icon{
        display: block;
    }  
    .navbar ul{
        display:none;
    }
    .sidebar{
        display: block;
    }
    
}
